body {
    font-family:  "Roboto Condensed", sans-serif;
    margin: 0;
    background-color: #5D7373;
}

.hero {
    background-image: url(../imagem/bg-6.jpg);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 1px;
}

.conteudo-topo {
    margin: 50px auto 0;
    width: 80%;
    text-align: left;
}

.conteudo-topo h1 {
    color: #591812;
    font-size: 60px;
    text-transform: uppercase;
    width: 450px;
    border-bottom: 2px solid #F2B6A0;
}

.conteudo-topo p {
    background-color: #F2B6A0;
    font-size: 18px;
    display: inline-block;
    padding: 10px;
    color: rgb(12, 12, 12);
    border-bottom: 3px solid #261E17;
}

.bottom-hero {
    text-align: right;
    margin-top: 20px 50px 0 0;
}
.bottom-hero li {
    list-style-type: none;
    display: inline-block;
}

.bottom-hero a {
    background-color: #591812;
    padding: 8px;
    color: #F2B6A0;
    text-decoration: none;
    margin-right: 8PX;
}

.bottom-hero a:hover {
    background-color: #261E17;
}

.informaçoes {
    background-color: #8C503A;
    width: 95%;
    margin: 40px auto;
    height: 180px;
}

.titulo {
    background-color: #261E17;
    width: 97%;
    padding: 5px;
    margin: auto;
    color: #ffffff;
}

.paragrafo {
    width: 97%;
    margin: 10px auto 20px;
    padding-left: 5px;
}

.paragrafo li {
    list-style-type: none;
}

.paragrafo a {
    background-color: #F2B6A0;
    padding: 7px;
    text-decoration: none;
    color: #030303;
}
.paragrafo a:hover {
    background-color: #591812;
}

footer {
    background-color: #261E17;
    margin-bottom: 0;
    height: 40px;
}

footer p {
    color: #bbbbbb;
    text-align: center;
    padding-top: 10px;
}